# API settings
APP_NAME=Whisper Transcription API
DEBUG=False

# Whisper model settings
DEFAULT_MODEL=tiny
DEFAULT_LANGUAGE=sv
MODELS_CACHE_DIR=./models
KEEP_MULTIPLE_MODELS_IN_MEMORY=False
MAX_MODELS_IN_MEMORY=1
MIN_FREE_MEMORY_GB=3.0
PRELOAD_DEFAULT_MODEL=True

# Diarization settings
DIARIZATION_ENABLED=True
HUGGINGFACE_TOKEN=your_huggingface_token_here
PARALLEL_PROCESSING=True
DIARIZATION_CHUNK_DURATION=300

# Job settings
JOB_CLEANUP_HOURS=24